{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "no-console": 2,
    "strict": ["error", "never"],
    "func-names": [2, "never"],
    "arrow-parens": [2, "always"],
    "max-len": [2, 140, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "object-curly-newline": "off",
    "no-mixed-operators": 0
  }
}
