grid-color = #f6f6f6

.diagram
  position: relative;
  height: 331px;
  width: 100%;
  max-width: 781px;
  min-width: 480px;

  &__title
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 24px;

  &__items
    display: flex
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 55px;
    background-size: 30px 30px;
    background-image:
      linear-gradient(to right, grid-color 1px, transparent 1px),
      linear-gradient(to bottom, grid-color 1px, transparent 1px);
