grid-color = #f6f6f6

.diagram
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  height: 301px;
  width: 100%;
  max-width: 781px;
  background-size: 30px 30px;
  background-image:
          linear-gradient(to right, grid-color 1px, transparent 1px),
          linear-gradient(to bottom, grid-color 1px, transparent 1px);
